# Ignore Python virtual environment folder
.venv/

# Ignore Python compiled bytecode/cache folders recursively
**/__pycache__/

# Local environment variables
.env

# Streamlit local secrets (if you decide to use them later)
.streamlit/secrets.toml

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.env

pass.txt
__pycache__/
*.sqlite*
*.ipynb
*.faiss
*.pdf
*.tvim
